{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row vertical-align">
            <div class="col-lg-8">
                <img src="/word_board.png" alt="Word Board" width="100%">
            </div>
            <div class='col-lg-4'>
                <div class='container'>
                    <img src='static/images/cage/{{nick}}' alt='{{nick}}' class='img-fluid'>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}
